@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');

:root{
    --font1: verdana, Geneva, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    --font4: 'Pacifico', cursive;
}

html, body {
    min-height: 100vh;
    background-color: beige;
    font-family: var(--font1);
}

header {
    background-color: black;
    color:rgb(241, 62, 38);
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-family:var(--font1);
    /*text-transform: uppercase;
    deixa o texto do h1 maiusculo*/
    font-variant: small-caps;
    /*font-variant:small-caps;
    deixa maiuscolo melhorado*/
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: beige;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 2em;
}

section.normal{
    background-color: white;
    color:black;
}
section.normal > p {
    text-shadow: 2px 2px 0px rgba(128, 128, 128, 0.74);
}

section.imagem{
    background-color: rgba(54, 53, 53, 0.699);
    color:white;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.651);
    background-size: cover;/*imagem fica responsiva*/
    background-attachment:fixed /*efeito que  imagem fica fixa*/
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(26, 25, 25, 0.568);
    width: 400px;
    text-shadow: 2px 2px 0px black;
    border-radius: 10px 10px;
   
}

section > p {
    padding-bottom: 2em;
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-position: right bottom;
}

footer {
    background-color: black;
    color:rgb(241, 62, 38);
    text-align: center;
    padding:10px;
}